
@{
    ViewBag.Title = "Home";
}

<div class="page-width-1 page-left">
    <div class="d-flex position-relative tm-border-top tm-border-bottom intro-container">
        <div class="intro-left tm-bg-dark">
            <h2 class="mb-4 text-center">Welcome to My Portfolio Website</h2>
            <p class="mb-4">
                This is the submission for Advanced Programming in .NET first assignment. There are four pages: Home, Personal Information, Educational Qualification and Skills and Experience.
            </p>
            <p class="mb-0">
                You are not permitted to redistribute this template on your Free CSS collection websites. Please <a rel="nofollow" href="https://templatemo.com/contact" target="_blank">contact us</a> for more information.
            </p>
        </div>

    </div>
</div>

