
@{
    ViewBag.Title = "Information";
}

<h2 class="text-center">Personal Information</h2>

<section id="about" class="about">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <p>My name is Mohammed Jamshed Alam. I am currently a bachelor student in Computer Science & Engineering in American Internation University Bangladesh. My goal is to become a data scientist</p>
        </div>

        <div class="row">
            <div class="col-lg-8 pt-4 pt-lg-0 content">
                <div class="row">
                    <div class="col-lg-6">
                        <ul>
                            <li><i class="bi bi-rounded-right"></i> <strong>Birthday:</strong> 22 January 2000</li>
                            <li><i class="bi bi-rounded-right"></i> <strong>Linkedin:</strong> <a id="HyperLink1" href="https://www.linkedin.com/in/mohammed-jamshed-alam-6a2513222/">Mohammed Jamshed Alam</a></li>
                            <li><i class="bi bi-rounded-right"></i> <strong>Phone:</strong> 01794691454</li>
                            <li><i class="bi bi-rounded-right"></i> <strong>City:</strong> City : Dhaka, Bangladesh</li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <ul>
                            <li><i class="bi bi-rounded-right"></i> <strong>Age:</strong> 22</li>
                            <li><i class="bi bi-rounded-right"></i> <strong>Degree:</strong> Bachelors</li>
                            <li><i class="bi bi-rounded-right"></i> <strong>Email:</strong> alammohammedjamshed@gmail.com</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section><!-- End About Section -->